// buttons

.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
.default {
    background-color: $color-link;
    transition: .4s ease-in-out;
    &:hover {
      background-color: lighten($color-link, 15%);
    }
  }
  
.error {
    background-color: $color-error;
    transition: .4s ease-in-out;
    &:hover {
      background-color: lighten($color-error, 15%);
    }
  }
  
.info {
    background-color: $color-info;
    transition: .4s ease-in-out;
    &:hover {
      background-color: lighten($color-info, 15%);
    }
  }
  
.success {
    background-color: $color-success;
    transition: .4s ease-in-out;
    &:hover {
      background-color: lighten($color-success, 15%);
    }
  }
  
.warning {
    background-color: $color-warning;
    transition: .4s ease-in-out;
    &:hover {
      background-color: lighten($color-warning, 15%);
    }
  }